[Unit]
Description = MQTT to MPD controller service
After = network.target

[Service]
User = nobody
Group = nogroup
ExecStart = /usr/local/bin/mqtt_mpd_controller
ProtectSystem = yes

[Install]
WantedBy = multi-user.target
